.Banner {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: 'Space Mono', monospace;

    @include transition(all 0.5s ease);

    .Caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        opacity: 0;
        &.Visible {
            opacity: 1;
            @include transition(opacity 0.5s ease 0.5s);
        }
    }

    .SocialConnect {
        margin-top: 10px;
        display: flex;
    
        .Icons {
            font-size: 30px;
            margin: 0 10px;
            
            opacity: 0.3;
            @include transition(opacity 0.5s ease);

            &:hover {
                opacity: 1;
            }
        }
    }
}