.Card {
    width: 75%;
    height: 75%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #eee;
    border-radius: 25px;
    transform: translate(-50%, -50%);

    opacity: 0.3;
    cursor: pointer;
    
    transition: all 0.5s ease, box-shadow 0.5s 0.25s ease;

    .CardBanner {
        height: 75%;
        width: 80%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 0 auto;
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .CardDetails {
        height: 25%;
        width: 100%;
        padding-bottom: 5px;

        position: relative;
        overflow-y: hidden;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;

        transition: all 0.5s ease;
        
        .Title {
            padding: 0;
            text-align: left;

            font-size: 2.5em;
            position: absolute;
            left: 20px;
            bottom: 5px;
            transition: all 0.5s ease;
        }

        .CardLinks {
            position: relative;
            top: 100%;
            transition: all 0.5s ease;
            padding: 10px 0;
            
            .ProjectIcons {
                font-size: 25px;
                margin-left: 25px;
                
                display: inline-flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;
                padding: 5px 10px;
                transition: all 0.5s ease;

                .LinkName {
                    font-family: 'Space Mono', monospace;
                    margin: 0 10px;
                }
            }
        }
    }

    &.ActiveCard {
        opacity: 1;
    }

    &:hover {
        &.ActiveCard {
            .CardDetails {
                background-position: bottom;
                .Title {
                    bottom: calc(25% + 50px);
                }
                .CardLinks {
                    top: calc(75% - 25px);
                }
            }
        }
        opacity: 1;
    }
}