.ProjectCard {
    &.First {
        .Card {
            &:nth-child(1) {
                left: 50%;
            }
            &:nth-child(2) {
                left: 115%;
            }
            &:nth-child(3) {
                left: 150%;
            }
        }
    }
    &.Second {
        .Card {
            &:nth-child(1) {
                left: -15%;
            }
            &:nth-child(2) {
                left: 50%;
            }
            &:nth-child(3) {
                left: 115%;
            }
        }
    }
    &.Third {
        .Card {
            &:nth-child(1) {
                left: -100%;
            }
            &:nth-child(2) {
                left: -15%;
            }
            &:nth-child(3) {
                left: 50%;
            }
        }
    }
}