.Projects {
    &.Dark {
        background: map-get($dark_theme, "background");
        color: map-get($dark_theme, "foreground");

        a {
            color: map-get($dark_theme, "foreground");
        }

        .Card {
            background: #1E1D21;
            box-shadow: 0 0 0 0 #000000;
        }
    }
}