.Projects {
    &.Light {
        background: map-get($light_theme, "background");
        color: map-get($light_theme, "foreground");

        a {
            color: map-get($light_theme, "foreground");
        }

        .Card {
            background: #ffffff;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

            .CardBanner {
                &.Project1 {
                    img {
                        filter: invert(1);
                    }
                }
            }
        }
    }
}