.Projects {
    width: 100vw;
    height: 100vh;
    
    @include transition(all 0.5s ease);
    .TitleWrapper {
        display: flex;
        justify-content: center;
    }

    .Title {
        display: inline-block;
        font-family: 'Space Mono', monospace;
        text-align: center;
        padding-top: 25px;
        max-height: 100px;
        font-size: 3em;
        font-weight: 600;
        
        svg {
            margin-right: 15px;
        }
    
    }

    .ProjectWrapper {
        width: 100%;
        height: calc(100% - 100px);
        display: inline-flex;

        transition: all 0.5s ease;
        
        .ProjectImageHandler {
            width: 25%;
            height: 100%;
            margin: 0 50px;
            position: relative;
        }

        .ProjectCard {
            width: 100%;
            height: 100%;
            position: relative;

            visibility: visible;
            opacity: 0;
            overflow: hidden;
            transition: all 0.5s ease;
            
            &.ProjectVisible {
                opacity: 1;
            }
        }
    }

}