$github_contrib: 134, 146, 51, 63, 169, 44, 167, 52, 119, 60, 77, 111, 64, 161, 74, 36, 99, 94, 75, 32, 24, 2, 93, 155, 128, 143, 72, 157, 142, 43, 19, 38, 141, 71, 86, 18, 164, 130, 90, 79, 91, 84, 109, 35, 23, 121, 6, 123, 49, 98, 62, 152, 39, 138, 106, 5, 9, 160, 95, 82, 158, 147, 170, 102, 101, 70, 78, 116, 100, 14, 47, 104, 136, 40, 92, 45, 37, 73, 97, 31, 68, 107, 87, 144, 103, 132, 4, 13, 1, 133, 162, 165, 150, 154, 53, 145, 12, 8, 20, 89, 57, 81, 120, 117, 83, 22, 26, 153, 27, 122, 11, 163, 110, 149, 96, 7, 140, 28, 48, 135, 34, 41, 156, 30, 88, 139, 131, 3, 85, 55, 113, 171, 15, 16, 42, 148, 58, 54, 114, 25, 127, 151, 105, 65, 124, 125, 137, 66, 108, 168, 159, 115, 21, 129, 118, 10, 59, 126, 29, 50, 46, 61, 17, 166, 112, 80, 76, 67, 56, 69, 33;

.Image2 {

    &.Start {
        svg {
            animation-fill-mode: forwards;

            .Cloud {
                fill: url('#CloudFillForwards');
                stroke-dasharray: 3000;
                stroke-dashoffset: 3000;
                @include animation(StrokeAnimationCloud 3s running);
                animation-fill-mode: inherit;
            }

            .Desk {
                opacity: 0;
                @include animation(Fade 0.5s running 3s);
                animation-fill-mode: inherit;
            }

            .Laptop {
                opacity: 0;
                transform: translateX(-50px);
                @include animation(FadeLaptop 0.5s running 3.5s);
                animation-fill-mode: inherit;
            }

            .Human {
                opacity: 0;
                transform: translateY(-50px);
                @include animation(FadeHuman 0.5s running 4s);
                animation-fill-mode: inherit;
            }

            .Github{
                &.NoContrib {
                    rect {
                        opacity: 0;
                    }
                }
                &.ViewContrib {
                    rect {
                        @each $contrib in $github_contrib {
                            $i: index($github_contrib, $contrib);
                            &:nth-child(#{ $contrib }) {
                                opacity: #{ random(10) * 0.1};
                                @include transition(opacity 0.5s ease-in #{0.01 * $i}s );
                            }
                        }
                    }
                }
            }
        }
    }

    &.End {
        svg {
            animation-fill-mode: forwards;
            animation-direction: reverse;

            .Cloud {
                fill: url('#CloudFillBackwards');
                stroke-dasharray: 3000;
                stroke-dashoffset: 2999;
                @include animation(StrokeAnimationCloud 1s running 6s);
                animation-fill-mode: inherit;
                animation-direction: inherit;
            }

            .Desk {
                opacity: 1;
                @include animation(Fade 0.5s running 6.5s);
                animation-fill-mode: inherit;
                animation-direction: inherit;
            }

            .Laptop {
                opacity: 1;
                transform: translateX(0);
                @include animation(FadeLaptop 0.5s running 6s);
                animation-fill-mode: inherit;
                animation-direction: inherit;
            }
            
            .Human {
                opacity: 1;
                transform: translateY(0px);
                @include animation(FadeHuman 0.5s running 6s);
                animation-fill-mode: inherit;
                animation-direction: inherit;
            }

            .Github{
                rect {
                    opacity: 0;
                    @include transition(opacity 0.5s ease);
                }
            }
        }
    }
}

@include keyframes(Fade) {
    from { opacity: 0; }
    to { opacity: 1; }
}

@include keyframes(StrokeAnimationCloud) {
    from { stroke-dashoffset: 3000; }
    to { stroke-dashoffset: 0; }
}

@include keyframes(FadeHuman) {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@include keyframes(FadeLaptop) {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}