.NavBar {
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 4;

    .NavBarIconWrapper {
        width: 100px;
        height: 100px;
        position: fixed;
        top: 0;
        z-index: 2;

        &:hover {
            ~.NavItemsHandler {
                @include transform(translate3d(calc(-100% + 100px), 0, 0));
            }
        }
    }
}