.BackgroundImage {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #000000;
    
    @for $i from 1 through 9 {
        .BackgroundColor#{ $i } {
            @include transition(fill 0.25s linear);
            will-change: fill;
        }
    }
}

@include keyframes(CloudMove) {
    0% {
        @include transform(translateX(-200vw));
    }
    100% {
        @include transform(translateX(200vw));
    }
}