.BackgroundImage {
    &.Dark {
        .BackgroundColor1 { fill: #133153 }
        .BackgroundColor2 { fill: #00213f; }
        .BackgroundColor3 { fill: #214067; }
        .BackgroundColor4 { fill: #798dfa; }
        .BackgroundColor5 { fill: #294a75; }
        .BackgroundColor6 { fill: #4070b3; }
        .BackgroundColor7 { fill: #2e5281; }
        .BackgroundColor8 { fill: #1f3d63; }
        .BackgroundColor9 { fill: #444b65; }
    }
}