.BackgroundImage {
    &.Light {
        .BackgroundColor1 { fill: #531331 }
        .BackgroundColor2 { fill: #3f0021; }
        .BackgroundColor3 { fill: #672140; }
        .BackgroundColor4 { fill: #fa798d; }
        .BackgroundColor5 { fill: #75294a; }
        .BackgroundColor6 { fill: #b34070; }
        .BackgroundColor7 { fill: #812e52; }
        .BackgroundColor8 { fill: #631f3d; }
        .BackgroundColor9 { fill: #7C4A74; }
    }
}